/* 共通スタイル */
@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

body{
    font-family:"Noto Sans Japanese",sans-serif;
    background-color: #f4f4f4;
    color: #1c1d1f;
    font-size: 16px;
    line-height: 1.3em;
}

footer{
    height:100px;
    background-color: #8f3940;
    color: #f4f4f4;
    text-align: center;
    font-size: 13px;
    padding: 25px 0;
    bottom: 0; /*下に固定*/

}
.footerIcons{
    width: 100%;
    margin-bottom: 20px;
}
.icon{
    width: 35px;
    margin: 0px 15px;
}

/* メニュー部分 */
#nav{

    position: absolute;
  top: 0;
    right: -40%;
    width: 40%;
    height: 100vh;
    background: #8f3940e3;
    transition: .6s;
    z-index: 100;
  }
  #nav ul{
    padding-top: 80px;

  }
  #nav ul li{
    list-style-type: none;
    font-size: 20px;
    
  }
  #nav a{
    display: block;
    text-decoration: none;
    color: #f4f4f4;
    margin: 0 20px;
    padding: 25px;
    transition: .4s;
    border-bottom:solid 1px #f4f4f4;

  }
  #nav li a:hover{
    color: #ffffff;
    background: #b64851;
    border-bottom:solid 1px #f4f4f4;

  }
  #hamburger {
      z-index: 101;
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 40px;
    height: 44px;
    cursor: pointer;
    transition: .6s;
  }
  .inner_line {
    display: block;
    position: absolute;
    right: 20%;
    width: 35px;
    height: 3px;
    background-color: #8f3940;
    transition: 1s;
    border-radius: 4px;
  }
  #line1 {
    top: 0px;
  }
  #line2 {
    top: 10px;
  }
  #line3 {
    bottom: 20px;
  }

  .in{
    transform: translateX(-100%);
  }
  .line_1,.line_2,.line_3{
    background: #f4f4f4;
  }
  .line_1 {
 transform: rotate(-45deg);
    top: 10px !important;
}
  .line_2 {
    opacity: 0;
  }
  .line_3 {
    transform: rotate(45deg);
    bottom: 30px !important;
  }
   


@media screen and (max-width: 768px){
    body{
        font-size: 16px;
        line-height: 1.5em;
    }
    footer{
        font-size: 18px;
    }
}




/* SP対応 */
@media screen and (max-width:768px) {
    
#nav {
    width: 100%;
    right: -100%;
}
}