@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f4f4f4;
    color: #1c1d1f;
    font-size: 16px;
}



footer{
    height:120px;
    background-color: #8f3940;
    color: #f4f4f4;
    text-align: center;
}



/*過去ソースから取得*/
#boxE{
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    background-color: #efefef;
    transition: ease 0.3s;
}

#boxE:hover{
    transition: ease 0.8s;
    box-shadow: 2px 2px 6px #555;
}