@charset "utf-8";
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #f4f4f4;
    color: #1c1d1f;
    font-size: 16px;
}

footer{
    background-color: #8f3940;
    color: #f4f4f4;
}

h1{
    font-size: 36px;
    color: #707070;
    width: 55vw;
    padding-bottom: .5em;
    border-bottom: 3px solid #8f3940;
}
header{
    text-align: center;
}
header img{
    margin: 10px 0;
    height: 25px;
}

#mainContents {
    margin: 40px 5%;
    background-color: #aba07b;
}
.h1div{
    border-bottom: #8f3940;
}

.explain{
    padding: 50px 20px;
}

.expImg{
    text-align: center;


}
.expImg img{
    width: 100%;
}
.expTxt{
    margin: 30px 0;
}
.backBtnDiv{
    text-align: center;
    margin-bottom: 30px;
}
.fixed_btn
{
    border-radius: 20;
  border: none;
  bottom: 10px; 
  right: 10px;
  padding: 6px 40px;
}

@media screen and (max-width:768px) {
    h1{
        font-size: 28px;
        width: 83vw;
    }
    .expImg img{
        width: 100%;
    }
}